section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 90px;
}

section > div {
    width: 70%;
    height: 320px;
    margin: 0 auto;
    border: 3px solid rgb(127, 133, 121);
    background-color: rgb(204, 223, 194);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    margin-bottom: 0px;
}

p {
    margin-top: 5px;
}

section > div + div {
    margin-top: 30px;
}

section > div img {
    width: 100%;
    height: 320px;
    border-start-start-radius: 28px;
    border-bottom-left-radius: 28px;
    justify-self: stretch;
}

section > div > div {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

button {
    min-height: 16px;
    min-width: 76px;
    width: 30%;
    height: 10%;
    border-radius: 10px;
    background-color: rgb(145, 196, 187);
    align-self: center;
}

@media screen and (min-width: 320px) and (max-width: 1000px)
{
    section div {
        width: 95%;
        grid-template-columns: 1fr;
        height: auto;
    }

    section > div > div {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    button {
        width: 120px;
        height: 25px;
        margin-bottom: 10px;
    }

    section > div img {
        height: auto;
        border-top-right-radius: 28px;
        border-bottom-left-radius: 0px;
        justify-self: stretch;
    }
}